# Database
MONGODB_URI=mongodb://127.0.0.1:27017/shopdee

# Auth Secret (Change in production)
JWT_SECRET=shopdee_super_secret_jwt_token_key_2026_genz

# Application URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Experience Simulation Flag
NEXT_PUBLIC_SIMULATION_MODE=true
